@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'chilax';
  src: url('../app/fonts/Chillax-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'chilax', sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.background-image {
  background-image: url('./../app/assets/BG.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.orange-yellow-gradient{
  @apply bg-gradient-to-r from-orangeBG via-lightYellow to-orangeBG;
}